html {
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  line-height: 1.75; }

body {
  padding: 0;
  margin: 0;
  background: none;
  line-height: inherit !important;
  font-size: inherit; }

a {
  color: inherit;
  text-decoration: none; }

p {
  margin: 0 0 2em 0;
  page-break-inside: avoid;
  text-align: justify; }

h1, h2, h3, h4, h5, h6 {
  color: #d75c37;
  text-decoration: none;
  margin: 0;
  padding: 1em 3rem;
  font-weight: 100; }

#pdf-title {
  font-size: 3em;
  background-color: #d75c37;
  color: white;
  height: 1180px;
  text-align: center;
  overflow: hidden; }
  #pdf-title table {
    width: 100%; }

#pdf-title-text {
  padding: 0 3rem; }

#pdf-title-date {
  font-size: 0.5em; }

article {
  page-break-after: always; }
  article img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; }
    article img + img {
      margin-top: 2em; }

.article-container {
  padding: 0 3.5rem;
  border: none !important;
  margin: 0 !important; }

.pdf-photos td {
  background-size: cover; }

.pdf-1-columns td {
  width: 100%; }

.pdf-2-columns td {
  width: 50%; }

.pdf-3-columns td {
  width: 33.33333%; }

.pdf-4-columns td {
  width: 25%; }

.pdf-5-columns td {
  width: 20%; }

.pdf-1-columns {
  height: 550px !important; }

.pdf-2-columns {
  height: 300px !important; }

.pdf-3-columns {
  height: 250px !important; }

.pdf-4-columns {
  height: 250px !important; }

.pdf-5-columns {
  height: 200px !important; }

#pdf-photos-0 {
  height: 100%; }

#pdf-photos-1 {
  height: 630px; }

#pdf-photos-2 {
  height: 880px; }

#pdf-photos-3 {
  height: 930px; }

#pdf-photos-4 {
  height: 930px; }

#pdf-photos-5 {
  height: 630px; }

#pdf-photos-6 {
  height: 680px; }

#pdf-photos-7 {
  height: 680px; }

#pdf-photos-8 {
  height: 680px; }

#pdf-photos-9 {
  height: 730px; }

#pdf-photos-10 {
  height: 780px; }
