$pageHeight: 1180px;
$oneColumn: 550px;
$twoColumns: 300px;
$threeColumns: 250px;
$fourColumns: $threeColumns;
$fiveColumns: 200px;

html {
	font-size: 20px;
	font-family: 'Helvetica', sans-serif;
	line-height: 1.75;
}

body {
	padding: 0;
	margin: 0;
	background: none;
	line-height: inherit !important;
	font-size: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0 0 2em 0;
	page-break-inside: avoid;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	color: #d75c37;
    text-decoration: none;
    margin: 0;
    padding: 1em 3rem;    
    font-weight: 100;
}

#pdf-title {
	font-size: 3em;
	background-color: #d75c37;
	color: white;
	height: $pageHeight;
	text-align: center;
	overflow: hidden;

	table {
		width: 100%;
	}
}

#pdf-title-text {
	padding: 0 3rem;
}

#pdf-title-date {
	font-size: 0.5em; 
}

article {
	page-break-after: always;

	img {
		width: 50%;
		height: auto;
		display: block;
		margin: 0 auto;

		& + img {
			margin-top: 2em;
		}
	}
}

.article-container {
	padding: 0 3.5rem;
	border: none !important;
	margin: 0 !important;
}

.pdf-photos td {
	background-size: cover;
}

.pdf-1-columns td {
	width: 100%;
}

.pdf-2-columns td {
	width: 50%;
}

.pdf-3-columns td {
	width: 33.33333%;
}

.pdf-4-columns td {
	width: 25%;
}

.pdf-5-columns td {
	width: 20%;
}

.pdf-1-columns {
	height: $oneColumn !important;
}

.pdf-2-columns {
	height: $twoColumns !important;
}

.pdf-3-columns {
	height: $threeColumns !important;
}

.pdf-4-columns {
	height: $fourColumns !important;
}

.pdf-5-columns {
	height: $fiveColumns !important;
}

#pdf-photos-0 {
	height: 100%;
}

#pdf-photos-1 {
	height: $pageHeight - $oneColumn;
}

#pdf-photos-2 {
	height: $pageHeight - $twoColumns;
}

#pdf-photos-3 {
	height: $pageHeight - $threeColumns;
}

#pdf-photos-4 {
	height: $pageHeight - $fourColumns;
}

#pdf-photos-5 {
	height: $pageHeight - $twoColumns - $threeColumns;
}

#pdf-photos-6 {
	height: $pageHeight - $threeColumns - $threeColumns;
}

#pdf-photos-7 {
	height: $pageHeight - $threeColumns - $fourColumns;
}

#pdf-photos-8 {
	height: $pageHeight - $fourColumns - $fourColumns;
}

#pdf-photos-9 {
	height: $pageHeight - $fourColumns - $fiveColumns;
}

#pdf-photos-10 {
	height: $pageHeight - $fiveColumns - $fiveColumns;
}