/* -----------------------------
BANNER
----------------------------- */
	#banner {
		max-height: 350px;
		min-height: 200px;
		position: relative;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	}

	#banner-wrap {
	    padding-bottom: 18%;
	}

	#banner-img {
		position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	    height: auto;
	}