html {
	font-size: 16px;	
}

body {
	font-size: 1em;
	
	@media (max-width: 600px ) {
		font-size: 0.9em;
	}
	
	@media (max-width: 500px ) {
		font-size: 0.87em;
	}
	
	@media (max-width: 450px ) {
		font-size: 0.76em;
	}
}

#less-vars {
	height: @min-height-for-fixed-nav;	
}

p, ul, ol {
	margin: 1em 0;
}

ul ul, ol ol, ul ol, ol ul {
	margin-top: 0;
}

a {
	cursor: pointer;	
}

//Used to make sure in page anchor links display the content below the fixed header
a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -@default-content-top-padding;
}

.wrap {
	padding-left: @global-padding + @extra-padding-for-scrollbar;
	padding-right: @global-padding + @extra-padding-for-scrollbar;
	margin-left: auto;
	margin-right: auto;
	max-width: @wrap-max-width;
	width: 100%;
	position: relative;
}

.display-table {
	display: table;
}

.display-table-row {
	display: table-row;
}

.display-table-cell {
	display: table-cell;
}

.hide-without-javascript {
	display: none;	
}

/* -----------------------------
CONTENT
----------------------------- */	
	main {
		padding-bottom: @global-padding;
		
		#main-wrap {
			margin-top: @global-padding;
			position: relative;
		}
	}
	
	@media (max-width: @mobile-width) {
		#main-wrap {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	#post-loop, #sidebar {
		position: relative;
		z-index: 2;
	}
	
	.background-image {
		position: absolute;
		z-index: 1;	
		left: -25%;
	}

/* -----------------------------
FOOTER
----------------------------- */	
	#site-footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		
		#scroll-to-top {
			float: right;
			margin: @global-padding 0;
		}
		
		a {
			height: 50px;
		    width: @wrap-max-width - @post-loop-width - (@global-padding * 3) - 20;	;
		    vertical-align: middle;
		    text-align: center;
		    line-height: 1;
		    background-color: rgba(255,255,255,0.75);
		    border: 1px solid #DEDEDE;
		    border-radius: 3px;
		}
	}