/* -----------------------------
SIDEBAR
----------------------------- */
	#sidebar.absolute-sidebar {
		position: absolute;
		top: 0;
		right: 0;
		
		#sidebar-container {
		    position: absolute;
		    top: 0;
		    right: 0; 

		    @media (min-width: @wrap-max-width) {
				margin-right: @global-padding + @extra-padding-for-scrollbar;
			}
		}
	}
	
	.fixed-bottom-sidebar, .fixed-top-sidebar {
		float: right;
		width: @wrap-max-width - @post-loop-width - (@global-padding * 4);
		
		#sidebar-container {
			position: fixed;
		}
	}
	
	.fixed-bottom-sidebar {		
		#sidebar-container {
			bottom: @global-padding;
		}
	}
	
	.fixed-top-sidebar {		
		#sidebar-container {
			top: @global-padding + @default-content-top-padding;
		}
	}
	
	#sidebar {
		/* Needed otherwise jQuery thinks it isn't visible */
		min-width: 1px;

		/* Hide the sidebar to allow the banner to be full centered */
		@media (max-width: @mobile-nav-break-min) {
			display: none;
		}

		#sidebar-container {
		    background-color: white;
		    display: block;
		    border: 1px solid #DEDEDE;
		    border-radius: 3px;	
		    width: @wrap-max-width - @post-loop-width - (@global-padding * 4);
		    overflow: hidden;

		    @media (max-width: @wrap-max-width-min) {
				right: 0;
				width: @nav-font-size * ( ( @nav-item-padding-value * 2 ) + 1 );
			}
		    
		    #twitter-placeholder {
			    padding: @global-padding;
			    text-align: center;
			    font-size: 1.5em;
			}
			
			#twitter-placeholder.javascript-enabled {
				height: 600px;
				padding-top: 280px;	
			}
		}

		.sidebar-tablet-hide {
			@media (max-width: @wrap-max-width-min) {
				display: none;
			}
		}
		
		.wrap {
			padding: @global-padding / 2;
			border-top: 2px solid #CACACA;
		}
		
		#search {
			.form-group {
				margin: ( @global-padding / 2 ) 0;
			}
		}
		
		#search-input {
			height: 2em;
		}
		
		#profile-pic-wrapper {
			padding-bottom: 100%;
		}

		#sidebar-social-icons {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: @nav-font-size;

			* {
				line-height: 1;
			}
		}

		.sidebar-social-icon {
			text-align: center;

			@media (min-width: @wrap-max-width-min) {
				display: block;
				width: 33.3333333%;
				float: left;
			}

			a {
				display: block;
				padding: @nav-item-padding-value;
				color: white;
			}
		}

		#sidebar-twitter a {
			background-color: #4099FF;

			&:hover {
				background-color: darken( #4099FF, 10% );
			}
		}

		#sidebar-instagram a {
			background-color: #125688;

			&:hover {
				background-color: darken( #125688, 10% );
			}
		}

		#sidebar-pinterest a {
			background-color: #C8232C;

			&:hover {
				background-color: darken( #C8232C, 10% );
			}
		}
		
		.tweet {
		    margin: 10px 0;
		    font-size: 0.9em;
		    border-bottom: 2px solid #D8D8D8;
		    padding-bottom: 10px;
		    
		    a {
			    color: #2b7bb9;
			}
			
			a:hover {
				color: lighten( #2b7bb9, 10% );
			}
			
			.tweet-author-name {
				color: darken( @charliejackson-primary, 25% );	
			}
			
			.tweet-author-name:hover {
				color: darken( @charliejackson-primary, 15% );
			}
		}
		
		.tweet-text {
			font-style: italic;
		}
		
		.tweet:last-child {
			border: none;
		}
		
		#twitter-follow {
			width: 100%;
			background-color: #2b7bb9;
			color: white;
			font-weight: 200;
		}
		
		#twitter-follow:hover {
			background-color: lighten( #2b7bb9, 10% );
		}
		
		#twitter-link {
			display: block;
			text-align: center;
			height: 2em;
			line-height: 1;
			color: #2b7bb9;
			
			i {
				font-size: 2em;
			}
			
			span {
				margin-top: 0.5em;
				display: inline-block;
				text-decoration: underline;
			}
		}
		
		.tweet-text, .tweet-image {
			margin-top: @global-padding / 2;
		}
		
		.tweet-image {
			width: 100%;
			height: auto;
		}
		
		.tweet-user-img-container {
			max-width: 48px;
		    max-height: 48px;
		    width: 12.5%;
		    border-radius: 20%;
		    overflow: hidden;
		    float: left;
			margin-right: 10px;
		}
		
		.tweet-user-img {
			height: 100%;
			width: 100%;	
		}
		
		.tweet-date, .tweet-user-text {
			line-height: 1.2;
		}
		
		.tweet-date {
			float: right;
			display: block;
			font-size: 0.8em;
		}
		
		.tweet-user-text {
			display: block;	
		}
		
		.tweet-author-screen-name {
			color: grey;
			font-size: 0.9em;
		}	
	}